/.idea/
/cmake-build-debug/

/KOut/MD.txt
/KOut/MF.txt
##### ignore all output
/KOut/**/*.vcd
/KOut/**/*.prof
/KOut/**/*.sl
/KOut/**/*.dumpVar
/KOut/genTest/model

#### model compile
modelCompile/cmake-build-debug
modelCompile/.idea
modelCompile/build/*
modelCompile/generated/*