/.idea/
/cmake-build-debug/

/KOut/MD.txt
/KOut/MF.txt
##### ignore all output
/KOut/**/*.vcd
/KOut/**/*.slot
/KOut/**/*.prof
/KOut/**/*.sl
/KOut/**/*.dumpVar

# verilog generation  test
/KOut/genTest/model/*.v
/KOut/genTest/output/*.vcd
/KOut/genTest/program/*.vvp
# gen example
/KOut/genExample
/KOut/riscv/gen/*.v
/KOut/riscv/gen/obj_dir
/KOut/riscv/genDbg/*.v
/KOut/riscv/genDbg/obj_dir


#### model compile
modelCompile/cmake-build-debug
modelCompile/.idea
modelCompile/build/*.so
modelCompile/generated/*.cpp
modelCompile/optec.txt
modelCompile/CMakeLists.txt
modelCompile/main.cpp

#### synthesisRunner
synthesisRunner/generatedTcl/*
synthesisRunner/project/*