/.idea/
/cmake-build-debug/

/KOut/MD.txt
/KOut/MF.txt
##### ignore all output
/KOut/**/*.vcd
/KOut/**/*.prof
/KOut/**/*.sl
/KOut/**/*.dumpVar
###### model output and program is system generated
/KOut/genTest/model
/KOut/genTest/output
/KOut/genTest/program
/KOut/genExample
/KOut/riscv/gen/*.v
/KOut/riscv/gen/obj_dir
/KOut/riscv/.vscode


#### model compile
modelCompile/cmake-build-debug
modelCompile/.idea
modelCompile/build/*
modelCompile/generated/*

#### synthesisRunner
synthesisRunner/generatedTcl/*
synthesisRunner/project/*